<form method = "post" action = "/isbn_out">  
<input type= "text" name= "isbn_data" value= '<%= isbn_data %>'>
<input type= "text" name= "isbn_done" value= '<%= isbn_done %>'>
<h3> Your entered data of <%= isbn_data %> is <%= isbn_done %></h3>
<a href="/enter_isbn"><button type="button">Start Over</button></a>
</form>
